# Pandas Library

## What is Pandas

* Python library for data analysis

* High-performance containers for data analysis

* Data structures with a lot of functionality

* meaningful labels

* Time series functionality

* Handling missing data

* Relational operations

### The Data used for this analysis was gotten from Yahoo Finance Apple.Inc Stock Data.

In [1]:
import pandas as pd

### Indexes and Columns

In [2]:
AAPL = pd.read_csv('AAPL.csv')
AAPL.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-30,61.189999,61.325001,60.302502,60.814999,60.217525,124522000
1,2019-10-31,61.810001,62.292500,59.314999,62.189999,61.579021,139162000
2,2019-11-01,62.384998,63.982498,62.290001,63.955002,63.326683,151125200
3,2019-11-04,64.332497,64.462502,63.845001,64.375000,63.742554,103272000
4,2019-11-05,64.262497,64.547501,64.080002,64.282501,63.650970,79897600

In [3]:
type(AAPL)

pandas.core.frame.DataFrame

In [4]:
AAPL.shape

(253, 7)

In [5]:
AAPL.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [7]:
type(AAPL.columns)

pandas.core.indexes.base.Index

In [8]:
AAPL.index

RangeIndex(start=0, stop=253, step=1)

In [9]:
type(AAPL.index)

pandas.core.indexes.range.RangeIndex

### Data Slicing

In [10]:
AAPL.iloc[:5,:]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-30,61.189999,61.325001,60.302502,60.814999,60.217525,124522000
1,2019-10-31,61.810001,62.292500,59.314999,62.189999,61.579021,139162000
2,2019-11-01,62.384998,63.982498,62.290001,63.955002,63.326683,151125200
3,2019-11-04,64.332497,64.462502,63.845001,64.375000,63.742554,103272000
4,2019-11-05,64.262497,64.547501,64.080002,64.282501,63.650970,79897600

In [11]:
AAPL.iloc[-5:,:]

,Date,Open,High,Low,Close,Adj Close,Volume
248,2020-10-23,116.389999,116.550003,114.279999,115.040001,115.040001,82572600
249,2020-10-26,114.010002,116.550003,112.879997,115.050003,115.050003,111850700
250,2020-10-27,115.489998,117.279999,114.540001,116.599998,116.599998,92276800
251,2020-10-28,115.050003,115.430000,111.099998,111.199997,111.199997,143937800
252,2020-10-29,112.370003,116.930000,112.199997,115.320000,115.320000,143850900

### Head()

In [12]:
AAPL.head(5)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-30,61.189999,61.325001,60.302502,60.814999,60.217525,124522000
1,2019-10-31,61.810001,62.292500,59.314999,62.189999,61.579021,139162000
2,2019-11-01,62.384998,63.982498,62.290001,63.955002,63.326683,151125200
3,2019-11-04,64.332497,64.462502,63.845001,64.375000,63.742554,103272000
4,2019-11-05,64.262497,64.547501,64.080002,64.282501,63.650970,79897600

In [13]:
AAPL.head(2)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-30,61.189999,61.325001,60.302502,60.814999,60.217525,124522000
1,2019-10-31,61.810001,62.292500,59.314999,62.189999,61.579021,139162000

### Tail()

In [14]:
AAPL.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
248,2020-10-23,116.389999,116.550003,114.279999,115.040001,115.040001,82572600
249,2020-10-26,114.010002,116.550003,112.879997,115.050003,115.050003,111850700
250,2020-10-27,115.489998,117.279999,114.540001,116.599998,116.599998,92276800
251,2020-10-28,115.050003,115.430000,111.099998,111.199997,111.199997,143937800
252,2020-10-29,112.370003,116.930000,112.199997,115.320000,115.320000,143850900

In [15]:
AAPL.tail(2)

,Date,Open,High,Low,Close,Adj Close,Volume
251,2020-10-28,115.050003,115.43,111.099998,111.199997,111.199997,143937800
252,2020-10-29,112.370003,116.93,112.199997,115.320000,115.320000,143850900

### Info()

In [16]:
AAPL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       253 non-null    object
 1   Open       253 non-null    float64
 2   High       253 non-null    float64
 3   Low        253 non-null    float64
 4   Close      253 non-null    float64
 5   Adj Close  253 non-null    float64
 6   Volume     253 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 14.0+ KB

### Broadcasting

In [17]:
import numpy as np

Assigning scalar value to column slice broadcasts value to each row.

In [18]:
AAPL.iloc[::3, -1] = np.nan

In [19]:
AAPL.head(6)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-10-30,61.189999,61.325001,60.302502,60.814999,60.217525,NaN
1,2019-10-31,61.810001,62.292500,59.314999,62.189999,61.579021,139162000.0
2,2019-11-01,62.384998,63.982498,62.290001,63.955002,63.326683,151125200.0
3,2019-11-04,64.332497,64.462502,63.845001,64.375000,63.742554,NaN
4,2019-11-05,64.262497,64.547501,64.080002,64.282501,63.650970,79897600.0
5,2019-11-06,64.192497,64.372498,63.842499,64.309998,63.678192,75864400.0

In [20]:
AAPL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       253 non-null    object
 1   Open       253 non-null    float64
 2   High       253 non-null    float64
 3   Low        253 non-null    float64
 4   Close      253 non-null    float64
 5   Adj Close  253 non-null    float64
 6   Volume     168 non-null    float64
dtypes: float64(6), object(1)
memory usage: 14.0+ KB

### Series
Assigning the column series Low to a python variable 'low'

In [21]:
low = AAPL['Low']

In [22]:
type(low)

pandas.core.series.Series

In [23]:
low.head()

0    60.302502
1    59.314999
2    62.290001
3    63.845001
4    64.080002
Name: Low, dtype: float64

In [24]:
lows = low.values

In [25]:
type(lows)

numpy.ndarray

In [26]:
lows

array([ 60.302502,  59.314999,  62.290001,  63.845001,  64.080002,
        63.842499,  64.527496,  64.212502,  64.57    ,  65.230003,
        65.267502,  65.525002,  65.752502,  66.057503,  66.347504,
        65.099998,  65.294998,  65.209999,  65.629997,  65.625   ,
        66.327499,  66.474998,  65.862503,  64.072502,  65.169998,
        65.682503,  66.824997,  66.227501,  66.464996,  67.125   ,
        66.830002,  67.732498,  69.245003,  69.699997,  69.779999,
        69.737503,  69.639999,  70.092499,  70.730003,  71.175003,
        72.029999,  71.305   ,  72.379997,  73.797501,  74.125   ,
        73.1875  ,  74.370003,  74.290001,  76.550003,  77.0625  ,
        77.787498,  78.042503,  77.387497,  78.022499,  78.75    ,
        79.      ,  79.327499,  78.912498,  79.379997,  76.220001,
        78.047501,  80.345001,  79.6875  ,  77.072502,  75.555   ,
        78.407501,  79.737503,  80.065002,  79.5     ,  78.462502,
        79.677498,  80.3675  ,  80.837502,  80.712502,  78.652496,
        80.      ,  79.552498,  77.625   ,  72.307503,  71.532501,
        71.625   ,  68.239998,  64.092499,  69.43    ,  71.449997,
        73.282501,  72.852501,  70.307503,  65.75    ,  67.342499,
        67.964996,  62.      ,  63.237499,  60.      ,  59.599998,
        59.279999,  60.6525  ,  57.      ,  53.1525  ,  58.575001,
        61.075001,  61.59    ,  61.762501,  62.349998,  63.      ,
        59.782501,  59.224998,  59.7425  ,  62.345001,  64.75    ,
        65.307503,  66.175003,  66.457497,  69.512497,  70.157501,
        70.587502,  69.214996,  69.212502,  66.357498,  68.050003,
        68.717499,  69.25    ,  69.987503,  69.550003,  70.972504,
        72.087502,  71.462502,  71.580002,  73.614998,  74.717499,
        75.4925  ,  76.072502,  76.809998,  77.727501,  75.802498,
        75.3825  ,  75.052498,  77.580002,  78.252502,  79.129997,
        78.967499,  78.837502,  79.125   ,  78.272499,  78.907501,
        79.1175  ,  79.302498,  79.732498,  80.574997,  80.195   ,
        80.807503,  81.830002,  83.002502,  86.522499,  83.870003,
        83.555   ,  83.144997,  86.18    ,  87.772499,  87.305   ,
        86.287498,  87.787498,  90.567497,  89.629997,  89.392502,
        88.254997,  87.82    ,  90.      ,  90.977501,  90.910004,
        92.467499,  93.057503,  94.089996,  94.672501,  94.705002,
        95.2575  ,  93.877502,  96.489998,  95.904999,  95.839996,
        96.0625  ,  96.7425  ,  96.602501,  92.010002,  89.144997,
        93.480003,  93.247498,  93.712502,  93.767502, 100.824997,
       107.892502, 108.387497, 108.897499, 109.797501, 110.292503,
       110.      , 109.107498, 110.297501, 113.927498, 113.044998,
       113.962502, 114.0075  , 115.610001, 115.732498, 119.25    ,
       123.9375  , 123.052498, 125.082497, 123.832497, 124.577499,
       126.      , 130.529999, 127.      , 120.5     , 110.889999,
       112.68    , 115.260002, 112.5     , 110.      , 112.800003,
       113.610001, 112.040001, 108.709999, 106.089996, 103.099998,
       109.160004, 106.769997, 105.      , 107.669998, 112.779999,
       113.57    , 113.620003, 115.830002, 112.220001, 113.550003,
       112.25    , 114.129997, 114.589996, 114.919998, 119.279999,
       119.650002, 119.620003, 118.150002, 118.809998, 115.660004,
       115.629997, 116.449997, 114.589996, 114.279999, 112.879997,
       114.540001, 111.099998, 112.199997])